@font-face {
    font-family: monda;
    src: url(../assets/fonts/Monda/Monda-Regular.ttf);
}

@font-face {
    font-family: lora;
    src: url(../assets/fonts/Lora/Lora-VariableFont_wght.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    font-family: monda;
    box-sizing: border-box;
    font-size: 1.1rem;
}

#titulosPaginas{
    font-family: monda;
}

main{
    background-color: rgb(226, 226, 226);
}

/*HEADER*/

.header_index{
    width: 100vw; 
    z-index: 100;
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/cessnaCitation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
}

.header_identidad{
    width: 100vw; 
    z-index: 100;
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/identidadback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
}

.header_contacto{
    width: 100vw; 
    z-index: 100;
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/Citation-X.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
}

.header_seguros{
    width: 100vw; 
    z-index: 100;
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/avionseguro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
}

.header_flota{
    background-color: rgb(226, 226, 226) ;
    margin-bottom: 0;
}

.navbar{
    text-decoration: none;
    display: flex;
}
.nav-links__a {
    font-size: 1.20rem;
    list-style-type: none;
    text-align: center;
    color: black;
    padding: 5px;
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.link_flota{
    font-size: 1.20rem;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    color:#264a77;
}

nav ul li a:hover{
    background-color: #4583ce49;
    border-radius: 3px;
}

ul{
    list-style-type: none;
}

.logo img{
    height: 60px;
    width: 60px;
    padding: 5px 0 0 5px;
    margin-left: 20px;
}

.nav-links{
    display: flex;
    margin:auto;
}

/*MAIN*/

/* INDEX */

.cualidades{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 150px;
    padding-top: 150px;
    color:#264a77;
}

.calidad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calidad__img{
    width: 22vw;
    height: 40vh;
    border-radius: 15px;
}

.calidad__ico{
    margin-top: 10px;
    width: 48px;
    height: 48px;
}

.sustentable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.sustentable__img{
    width: 22vw;
    height: 40vh;
    border-radius: 15px;
}

.sustentable__ico{
    margin-top: 10px;
    width: 48px;
    height: 48px;
}

.confiable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.confiable__h2{
    text-align: center;
}

.confiable__img{
    width: 22vw;
    height: 40vh;
    border-radius: 15px;
}

.confiable__ico{
    margin-top: 10px;
    width: 48px;
    height: 48px;
}

.enlaces_finales_index{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 100px;
    color:#264a77
}

.index_flota{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 40px;
    text-align: center;
}

.index_flota a{
    font-size: 1.25rem;
    margin-top: 10px;
}

.index_flota img{
    width: 30vw;
    height: 42vh;
    border-radius: 10px;
}

.index_valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.index_valores a{
    font-size: 1.25rem;
    margin-top: 10px;
}

.index_valores img{
    width: 30vw;
    height: 42vh;
    border-radius: 10px;
}

.primer_titulo{
    font-family: monda;
    font-size: 4rem ;
    color: #264a77;
}

.mainTitle{
    color:#264a77;
    display: flex;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
}

.primer_imagen{
    height: 80vh;
    width: 100vp;
}

a{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

/* FLOTA */

.descripcionFlota{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.descripcionFlota h1{
    color:#264a77;
    margin-top: 0;
    padding-top: 50px;
}

.descripcionFlota p{
    margin-left: 20%;
    margin-right: 20%;
}

.flota{
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.flota p{
    margin-left: 15%;
    margin-right: 15%;
}

.flota h2{
    font-size: 1.50rem;
    color: #264a77;
}

.flota h3{
    color: #3867a1;
}

.flota_helicoptero h2{
    color: #264a77;
    font-size: 1.50rem;
    margin-bottom: 25px;
}

.flota_helicoptero h3{
    color: #3867a1;
}

.flota_helicoptero{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 80px;
}

.flota_helicoptero p{
    margin-left: 15%;
    margin-right: 15%;
}

.md500e{
    margin-bottom: 50px;
}

.link_contacto{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 80px;
    color: #264a77;
    font-size: 1.50rem;
}

.flota{
    margin-bottom: 25px;
}

.flota h2{
    margin-bottom: 50px;
}
.flota img{
    margin-bottom: 10px;
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
}

.valores img{
    margin-bottom: 10px;
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
}

.iframe_Citation{
    justify-content: center;
    margin: 40px 0;
}

/* IDENTIDAD */

.img_fondo_identidad{
    margin-bottom: 50px;
}

.title_identidad h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 80px;
    color:#264a77;
    font-size: 5rem;
}

.quienes_somos{
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 40px;
}

.img_cessna img{
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

.img_helicopteroMD500E img{
    width: 100vw;
    height: 80vh;
}

.nuestros_valores{
justify-content: center;
text-align: center;
margin-left: 25%;
margin-right: 25%;
margin-bottom: 40px;
}

.info_seguros{
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.opinion_clientes{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.opinion_clientes p{
    margin-right: 40px;
    margin-left: 40px;
}

.opinion_clientes_mayor{
    background-color:#264a77;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.opi_clientes-h2{
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}
.opinion_clientes img{
    width: 20vw;
    height: 40vh;
    border-radius: 50%;
    object-fit: cover;
}


/* SEGUROS */

.mainTitle_seguros{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.title_seguros{
    color:#264a77;
}    

.title_seguros h1{
    font-size: 8rem;
}

.title_seguros h2{
    text-align: center;
}

.clasif{
    padding-top: 20px;
    background-color: #3867a1;
}

.clasif_seguros{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 25px;
}


.clasif_seguros_list{
    list-style-type: decimal;
}

.ante_clasif{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    color:white;
}

.grafito img{
    height: 30vh;
    width: 15vw;
}

.grafito{
    margin-right: 5%;
    width: 15vw;
}

.grafito h3{
    text-align: center;
}

.platino img{
    display: flex;
    margin: auto;
    height: 30vh;
    width: 15vw;
    border-radius: 50%;
}

.platino{
    margin-right:5%;
    width: 17vw;
}

.platino h3{
    text-align: center;
}

.diamante img{
    display: flex;
    margin: auto;
    height: 30vh;
    width: 15vw;
}

.diamante{
    width: 20vw;
}

.diamante h3{
    text-align: center;
}

.elegirnos{
    display:flexbox;
    justify-content: center;
    margin: 50px 30% 50px 30%;
    padding-bottom: 15px;
}

.elegirnos_pq ul{
    list-style-type:decimal;
}

/* CONTACTO */

.contacto_title h1{
    font-size: 4rem;
    color:#264a77;
}

.contacto_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-left: 4%;
}

.seg_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.info_clientes-p{
    font-weight: bold;
}

.info_clientes-p-3{
    font-weight: bold;
    margin-bottom: 75px;
}

.form_cont{
    padding-bottom: 50px;
}

.form_cont-h2{
    display: flex;
    font-size: 1,15rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: #264a77;
    font-style: italic;
}

.form_cont-input{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.form_cont-input_textarea{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.form_cont-input_textarea label{
    padding-bottom: 10px;
}

.form_cont-input input,textarea{
    margin-left: 15px;
}

/*FOOTER*/

.footer{
    background-color: #b4d8ff;
    width: 100vw;
}

.location{
    margin-bottom: 0;
}

.location h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 0;
}

.iframe_location{
    width: 100vw;
}

.contacto_ways{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.contacto h2{
    text-align: center;
    padding-bottom: 20px;
}

.contacto img{
    width: 50px;
    height: 50px;
}

.whatsappCtc{
    display: flex;
    align-items: center;
}

.telefonoCtc{
    display: flex;
    align-items: center;
}

.mailCtc{
    display: flex;
    align-items: center;
}

.encontranos{
    background-color: #4d8fdf;
    display: flexbox;
}

.encontranos h2{
    padding-top: 10px;
    text-align: center;
    margin-top: 50px;
}

.img_encontranos{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.encontranos_link{
    display: flex;
    justify-content: center;
    align-items: center;
}


.encontranos p{
    color: white;
    text-align: center;
}

.nosotros{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #264a77;
    color: white;
    padding: 15px 0;

}

.nosotros h2{
    font-size: 1.50rem;
    color:#c9e3ff;
}

/*---------------------------------------------*/

@media screen and (min-width:0px) and (max-width:768px){

}