/*  FUENTES  */

@font-face {
    font-family: monda;
    src: url(../assets/fonts/Monda/Monda-Regular.ttf);
}

@font-face {
    font-family: lora;
    src: url(../assets/fonts/Lora/Lora-VariableFont_wght.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');